body
{
	margin: 0;
	padding: 0;
	background: url(https://nihaalknight87.github.io/KRC-1_BETA_DEBUG/TEST_LOG/Img/bgimg1.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
	